<div class="container">
 <label >
    <span  class="label" [innerText]="'סטטוס'"></span>
    <mat-icon  [ngClass]="{'current':status===theStatusEnum.pending}"
    [matTooltip]="statusToString(theStatusEnum.pending)"
    (click)="changeStatus(theStatusEnum.pending)">hourglass_empty </mat-icon>
    <mat-icon  [ngClass]="{'current':status===theStatusEnum.process, 'disabled':!canChangeStatus}"
     [matTooltip]="statusToString(theStatusEnum.process)"
    (click)="changeStatus(theStatusEnum.process)">hourglass_top </mat-icon>
    <mat-icon  [ngClass]="{'current':status===theStatusEnum.completed, 'disabled':!canChangeStatus}"
     [matTooltip]="statusToString(theStatusEnum.completed)"
    (click)="changeStatus(theStatusEnum.completed)" >check </mat-icon>
    <mat-icon  [ngClass]="{'current':status===theStatusEnum.cancel, 'disabled':!canChangeStatus}"
     [matTooltip]="statusToString(theStatusEnum.cancel)"
    (click)="changeStatus(theStatusEnum.cancel)" >cancel </mat-icon>
 </label>
</div>
