@import "./elements/elements.scss";

.select{
  background-color:  $colorGray; 
  border: none;
  width:150px;
  height:40px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* אנימציה של שינוי צבע */
}
.mat-mdc-form-field-subscript-wrapper{
  height:0px;
}
