// color
$colorBlack:#292929;
$colorWhite:#ffffff;
$colorBlueWhite:#c3dcee;
$colorBlueLight:#9dbcf3;
$colorBlue:#444cf7;
$colorBlueDark:#007bff; 
$colorGreen:#4CAF50;
$colorPinkLight:#ff66b2;
$colorPink:#ff4081;
$colorPinkOver:#e60e56;
$colorOrange:#d66c51;
$colorGray:rgba(0, 0, 0, 0.5);
$colorYellow: #ebc33f;
$colorYellowLight: #f1dfa2;

// fonts
$fontRhashiBold:'robotoBold','Guttman Rashi';
$fontRobotoRegular:'robotoRegular',arial;
$fontRobotoMedium:'robotoMedium',arial;
$fontRobotoBold:'robotoBold',arial;
$fontassistantBold:'assistantBold',arial;

// font size
$fontSizeSmall:1.4em;
$fontSizeRegular:1.6em;
$fontSizeBig:1.8em;